<header class="header-6">
    <div  class="branding">
        <a  routerLink="/home" routerLinkActive="active" class="active nav-link nav-text">LOGO</a>
    </div>
    <div class="header-nav">
        <a  routerLink="/home" routerLinkActive="active" class=" nav-link nav-text">Home</a>
        <a  routerLink="/ux" routerLinkActive="active" class="nav-link nav-text">User Experience</a>
        <a  routerLink="/clarity" routerLinkActive="active" class="nav-link nav-text">Clarity</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>