<div class="main-container">
    <!-- <div class="content-container  clr-justify-content-center ">
        <div class="clr-col-2 text-center">
            <div class="card">
                <div class="card-block">
                    <div class="card-title ">
                        Developpeur
                    </div>
                </div>
            </div>
        </div>
        <div class="equals">
            <h1>=</h1>
        </div>
        <div class="clr-col-2 text-center">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Mauvais Designer
                    </div>
                </div>
            </div>
        </div>
        <div class="equals">
            <h1>?</h1>
        </div>
    </div>-->
    <div class="hero-wrap" data-stellar-background-ratio="0.5">
        <div class="clr-col-12 mt10">
            <div class="clr-row clr-justify-content-start">
                <div class="clr-col-sm-4 clr-offset-sm-1" >
                        <div class="transparentcard">
                                <div class="card-header">
                                    Breaking News
                                </div>
                                <div class="card-block">
                                    <div class="card-title">
                                        Les Developpeurs ne sont plus de mauvais designers !!
                                    </div>
                                    <div class="card-text">
                                        Clarity, un raccourci vers l'experience utilisateur!
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button routerLink="/ux" routerLinkActive="active" class="btn btn-sm btn-link">Experience Utilisateur? </button>
                                    <button routerLink="/clarity" routerLinkActive="active" class="btn btn-sm btn-link">Clarity?</button>
                                </div>
                            </div>
                            <div class="baseText">
                                <h3>Clarity est un projet Open Source maintenu par VMware, Clarity propose trois niveaux d’implémentation différents. Guidelines only, framework HTML/CSS mais surtout un module Angular.</h3>>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>